body {
    height: 100%;
}
.logo {
    position: relative;
    width: 134px;
    height: 52px;
    font-family: 'Superclarendon-Regular', 'Superclarendon';
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
    color: #CC0033;
    margin:25px;
}

.sidebar {
	margin-left: 25px;
	margin-top:20px;
	width: 132px;
}

.sidebar-item {
	height: 40px !important;
    vertical-align: center !important;
}

.active{
	background-color: #CC0033 !important;
	color: #fff !important;
}

.welcome {
	position: relative;
    margin-top:25px;
    font-family: 'Superclarendon-Bold', 'Superclarendon Bold', 'Superclarendon';
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: #CC0033;
}

.time {
	position: relative;
	right: 0px;
	font-family: 'Superclarendon-Bold', 'Superclarendon Bold', 'Superclarendon';
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    color: #000;
}
.calendar {
  	border: 2px solid #000000 !important;
	margin-top:25px;
	max-width: 100% !important;
}
.cal-item {
  	border: 2px solid #000000 !important;
  	width: 140px;
	text-align: center;
	font-weight: bold;
	padding:0 !important;
	margin:0 !important;
}
.disabled{
    background-color: gray !important;
}
.calendartable{
	border-collapse: collapse !important;
}