body {
    height: 100%;
}
.logo {
    position: relative;
    width: 134px;
    height: 52px;
    font-family: 'Superclarendon-Regular', 'Superclarendon';
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
    color: #CC0033;
    margin:25px;
    cursor: pointer;
}

.sidebar {
	margin-left: 25px;
	margin-top:20px;
	width: 132px;
}

.sidebar-item {
	height: 40px !important;
    line-height: 25px !important;
    vertical-align: center !important;
}

.active{
	background-color: #CC0033 !important;
	color: #fff !important;
}

.welcome {
	position: relative;
    margin-top:25px;
    margin-right: 80px;
    font-family: 'Superclarendon-Bold', 'Superclarendon Bold', 'Superclarendon';
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: #CC0033;
}

.time {
	position: relative;
	right: 0px;
	font-family: 'Superclarendon-Bold', 'Superclarendon Bold', 'Superclarendon';
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    color: #000;
}

.left {
    height: 10px;
    width: 10px;
}

.week {
    display: inline-block;
    font-family: 'Superclarendon-Bold', 'Superclarendon Bold', 'Superclarendon';
    font-size: 16px;
}

.color-keys {
    display: inline-block;
}

.key {
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    /*float: right;*/
}

.selected {
    background: #CC0033; 
}

.unselected {
    background: lightgray;
}

.calendar {
  	border: 2px solid #000000 !important;
	margin-top:25px;
    position: relative;

}
.cal-item-clickable {
  	border: 2px solid #000000 !important;
    /*background-color: #CC0033;*/
  	width: 140px;
	text-align: center;
	font-weight: bold;
	padding:0 !important;
	margin:0 !important;
    cursor: pointer !important;
}

.cal-item-unclickable {
    border: 2px solid #000000 !important;
    background-color: #CC0033;
    width: 140px;
    text-align: center;
    font-weight: bold;
    padding:0 !important;
    margin:0 !important;
}

.cal-item-white {
    border: 2px solid #000000 !important;
    width: 140px;
    text-align: center;
    font-weight: bold;
    padding:0 !important;
    margin:0 !important;
}
.disabled{
    background-color: lightgray !important;
}
.extra-disabled{
    background-color: black !important
}
.calendartable{
	border-collapse: collapse !important;
}

.current-workers-container {
    /*background-color: lightgrey;*/
    width: 50%;
    height: 50%;
    border: 2px solid black;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 10%; right: 0;
}

.current-workers-title {
    text-align: center;
    text-decoration: underline;
    font-family: 'Superclarendon-Bold', 'Superclarendon Bold', 'Superclarendon';
    font-size: 24pt;
    font-style: normal;
}
.current-workers-employee-col {
    float:left;
    width:33%;
    text-align: center;
    font-size: 16pt;
    font-family: 'Superclarendon-Bold', 'Superclarendon Bold', 'Superclarendon';
}

.current-workers-shift-col {
    text-align: center;
    display: inline-block;
    width: 33%;
    font-size: 16pt;
    font-family: 'Superclarendon-Bold', 'Superclarendon Bold', 'Superclarendon';
}

.current-workers-checked-in-col {
    text-align: center;
    float:right;
    width:33%;
    font-size: 16pt;
    font-family: 'Superclarendon-Bold', 'Superclarendon Bold', 'Superclarendon';
}

.current-shifts-time {
    text-align: center;
    font-family: 'Superclarendon-Bold', 'Superclarendon Bold', 'Superclarendon';
    font-size: 12pt;
    font-style: normal;
}

.not-checked-in-button {
    font-size: 16pt;
    vertical-align: middle !important;
}

.back-button {
    height: 50px;
    width: 150px;
    font-size: 16pt;
    vertical-align: middle !important;
    margin: 2px;
}

.employee-info-container {
    /*text-align: left;
    font-size: 16pt;
    margin: auto;
    left: 0; right: 0;
    font-family: 'Superclarendon-Bold', 'Superclarendon Bold', 'Superclarendon';*/
} 

.employee-info-container p{
    /*padding-left: 1em;*/
    text-align: center;
    font-size: 16pt;
    font-family: 'Superclarendon-Bold', 'Superclarendon Bold', 'Superclarendon';
}

.contact-via-email-button {
    /*text-align: center;*/
    display: inline-block;
    height: 50px;
    width: 215px;
    font-size: 16pt;
    vertical-align: middle !important;

    margin: auto;
    position: absolute;
    left: 0; right: 0;
}

.email-to-title {
    text-align: center;
    font-family: 'Superclarendon-Bold', 'Superclarendon Bold', 'Superclarendon';
    font-size: 24pt;
    font-style: normal;
}

.subject-text {
    width: 300px;
    margin: auto;
    position: absolute;
    left: 0; right: 0;
}

.body-text {
    width: 300px;
    height: 200px;
    margin: auto;
    position: absolute;
    left: 0; right: 0;
}

.body-text-container {
    padding-top: 30px;
}

.send-cancel-buttons-container {
    display: inline-block;
    margin: auto;
    position: absolute;
    left: 0; right: 0; bottom: 15%;
}

.send-button {
    display: inline-block;
    margin-left: 40px;

}
.button-wrapper{
    max-width: 80%;
}
.cancel-button {
    display: inline-block;
    margin-right: 40px;
}

input {
    display: block;
}

.notification-container {
    /*background-color: lightgrey;*/
    position: relative;
    width: 80%;
}

.x-button {
    float: right;
    margin: 3px;
}

.reassign-button {
    float: left;
    margin: 3px;
}

.contact-Sara-button {
    display: inline-block;
    margin: 3px;
}